.table-view{
   -fx-background-color: #303042;
}


.table-view .column-header-background{
    -fx-background-color: #272737;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #272737;
}
